<footer class="footer">
    <div class="main-container">
        <div class="flex justify-content">
            <ul class="footer__info flex">
                <li>
                    <a class="small__text" href="#">
                        Помощь
                    </a>
                </li>
                <li>
                    <a class="small__text" href="#">
                        О нас
                    </a>
                </li>
                <li>
                    <a class="small__text" href="#">
                        Правовая информация
                    </a>
                </li>
                <li>
                    <a class="small__text" href="#">
                        Установить
                    </a>
                </li>
            </ul>
            <div class="social flex">
                <a href="#" class="network">
                    <img src="./img/footer/vk.svg" alt="vk">
                </a>
                <a href="#" class="network">
                    <img src="./img/footer/telegram.svg" alt="telegram">
                </a>
            </div>
        </div>
    </div>
</footer>