<header class="header" id="header">
    <div class="main-container">
        <div class="header__fixed flex justify-content">
            <div class="header__nav flex">
                <a class="logo" href="/">
                    <img src="/img/header/logotype.svg" alt="Meetins">
                </a>
                <nav class="nav">
                    <ul class="nav__list flex">
                        <li class="nav__item">
                            <NavLink href="/" class="nav__link nav-active text">
                                Знакомства
                            </NavLink>
                        </li>
                        <li class="nav__item">
                            <NavLink href="/search-site-people" class="nav__link text">
                                Люди
                            </NavLink>
                        </li>
                        <li class="nav__item">
                            <NavLink href="/events" class="nav__link text">
                                События
                            </NavLink>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__info-content flex">
                <button class="invite__btn text">
                    Пригласить
                </button>
                <div class="notice__profile flex">
                    <button class="header__notice">
                        <img class="notice-icon" src="/img/header/notice.svg" alt="уведомления" title="уведомления">
                        <span class="amount small__text">
                            2
                        </span>
                    </button>
                    <div class="header__profile flex">
                        <a class="profile__img" href="/user-editing-profile">
                            <img src="/img/photo/img5.png" alt="avatar">
                        </a>
                        <div class="header__profile-info">
                            <div class="header-info__inner flex">
                                <p class="name__profile small__text">
                                    Василий
                                </p>
                                <img class="arrow-down" src="/img/photo/arrow-down.svg" alt="открыть">
                            </div>
                            <a class="free-access small__text" href="#">
                                Meetins free
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>