@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="wrapper">
            <div class="all-content">
                <Header/>
                <main class="all-lining">
                    <div class = "main-container arrangement" >
                        <Sidebar/>
                        @Body
                    </div>
                </main>
            </div>
            <Footer/>
        </div>
    </Authorized>
    <NotAuthorized>
        <Meetins.Frontend.Pages.AuthorizePage/>
    </NotAuthorized>
</AuthorizeView>
