<div class="sidebar">
    <ul class="sidebar__list">
        <li class="sidebar__item flex">
            <a class="flex text sidebar-active" href="#">
                <img src="./img/sidebar/invite.svg" alt="Мессенджер" title="Мессенджер">
                Мессенджер
            </a>
            <span class="sidebar__quantity small__text">
                24
            </span>
        </li>
        <li class="sidebar__item flex">
            <a class="flex text" href="#">
                <img src="./img/sidebar/Vector.svg" alt="Приглашения" title="Приглашения">
                Приглашения
            </a>
        </li>
        <li class="sidebar__item flex">
            <a class="flex text" href="#">
                <img src="./img/sidebar/bookmarks.svg" alt="Закладки" title="Закладки">
                Закладки
            </a>
        </li>
    </ul>
</div>