<li class="events__category-item">
    <a class="events__category-link__page" href="#">
        <div class="events__category-img">
            <img src="./img/events/content-1.png" alt="">
            <div class="events__category-description">
                <p class="events__category-text">
                    Театр
                </p>
                <span class="events__category-quantity text">
                    <span>
                        2447 событий
                    </span>
                    <span>
                        512 человек
                    </span>
                </span>
            </div>
        </div>
    </a>
</li>